/* overall styling */
body.icustomize-active form#customize-controls {
    background-color: #F0F4F6;
}

body.icustomize-active #customize-controls .description {
    color: #4f748e;
    font-size: 14px;
}
body.icustomize-active .customize-control-title {
    color: #0087be;
    font-size: 16px;
}
body.icustomize-active li.customize-control a.tooltip.hint--left {
    color: #0073aa;
}
body.icustomize-active button.customize-section-back {
    background: #0087be;
    border-right: 1px solid #D9E4EA;
    color: #fff;
}
body.icustomize-active .customize-panel-back:focus,
body.icustomize-active .customize-panel-back:hover,
body.icustomize-active .customize-section-back:focus,
body.icustomize-active .customize-section-back:hover {
    background-color: #fff;
    color: #0087be;
}
body.icustomize-active .hint:before,
body.icustomize-active [data-hint]:before {
    border-left: 5px solid #0073AA;
}
body.icustomize-active .hint:after,
body.icustomize-active [data-hint]:after {
    background: #0073AA;
}

/**
 * Editors
 */
/* cm height */
[id^=customize-control-icustomize-master-css],
[id^=customize-control-icustomize-master-js],
[id^=customize-control-icustomize-page-css],
[id^=customize-control-icustomize-page-js] {
    height: 90%;
}
[id^=customize-control-icustomize-master-css] .CodeMirror,
[id^=customize-control-icustomize-master-js] .CodeMirror,
[id^=customize-control-icustomize-page-css] .CodeMirror,
[id^=customize-control-icustomize-page-js] .CodeMirror {
    height: 100% !important;
}
.CodeMirror.hidden,
#customize-footer-actions .devices.hidden {
    display: none;
}

/**
 * Dragbar
 */
#draghelper {
    background: rgba(0,0,0,0.25);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999999999999999999999999999999999;
}
#customize-controls .dragbar {
    bottom: 0;
	cursor: col-resize;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    z-index: 1001;
}

/**
 * Preview
 */
#customize-preview.wp-full-overlay-main.iframe-ready {
    background-color: #272822;
}
#customize-preview iframe {
    border-right-color: rgb(128,128,128);
    border-right: 1px solid rgba(128,128,128,0.5);
    border-left-color: rgb(128,128,128);
    border-left: 1px solid rgba(128,128,128,0.5);
    display: block;
    margin: 0 auto;
    position: relative;
}

/**
 * Resizer column
 */
div#customize-resizer {
    background-color: #FFF;
    border-left: 1px solid #D9E4EA;
    display: none;
    height: 100%;
    position: absolute;
    right: 3px;
    width: 40px;
    z-index: 999;
}
body.icustomize-active div#customize-resizer,
div#customize-resizer.active {
    display: block;
}
div#customize-resizer:after {
    background-color: #F0F4F6;
    border-left: 1px solid #D9E4EA;
    border-right: 1px solid #D9E4EA;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 3px;
}
.control-editor-item {
    background-color: #fff;
    border-bottom: 1px solid #D9E4EA;
    border-top: 1px solid #FFFFFF;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    width: 100%;
}
.control-editor-item:hover,
.control-editor-item.active {
    border-bottom: 2px solid #C8D7E2;
    cursor: pointer;
    margin-bottom: -1px;
}
.control-editor-item.active {
    overflow: visible;
}
.control-editor-item i {
    color: #668eaa;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}
.control-editor-item:hover i,
.control-editor-item.active i {
    color: #00aadc;
}
.control-editor-spacer {
    background-color: transparent;
    border-bottom: 1px solid #D9E4EA;
    border-top: 1px solid #D9E4EA;
    height: 3px;
    margin: 7px auto 0;
    width: 30px;
}
div#customize-resizer .control-input-slide {
    background-color: #0087BE;
    border-bottom: 1px solid #0073AA;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #0073AA;
    border-right: 1px solid #3EA4EF;
    border-top: 1px solid #72C2FD;
    border-top-right-radius: 4px;
    left: 0px;
    opacity: 0;
    padding: 15px 20px 15px 30px;
    position: absolute;
    transition: all 300ms ease-in-out;
    top: 0;
    z-index: -1;
}
div#customize-resizer .control-editor-item.active .control-input-slide {
    left: 44px;
    opacity: 1;
}
div#customize-resizer .control-input-title {
    color: #FFFFFF;
    display: inline-block;
    margin: 0 0 3px 3px;
    text-shadow: 1px 1px 1px #0073AA;
}
div#customize-resizer .control-input-slide input {
    background-color: #FFF;
    border: 1px solid #C8D7E2;
    border-radius: 3px;
    color: #0087BE;
    width: 200px;
}
div#customize-resizer .control-input-slide input:focus {
    border-color: #00A0D2;
    box-shadow: none;
}
li#accordion-section-icustomize_master_css ul,
li#accordion-section-icustomize_master_js ul,
li#accordion-section-icustomize_page_css ul,
li#accordion-section-icustomize_page_js ul {
    padding-right: 56px !important;
    transition: all 300ms ease-in-out;
}
#customize-header-actions {
    transition: all 300ms ease-in-out;
}
body.icustomize-active #customize-header-actions,
#customize-header-actions.resizer-active {
    padding-right: 56px;
}

div#preview-resize-left {
    background-color: transparent;
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
    cursor: col-resize;
    z-index: 2;
}
div#preview-resize-left.active {
    background-color: rgba(0, 0, 0, .25);
}